@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  margin: 0px;
}

header {
  width: 600px;
  margin: auto;
  text-align: center;
}

h1,
h3 {
  font-family: 'Fredoka One', cursive;
}

.hidden {
  display: none;
}

#stats {
  width: 600px;
  margin: auto;
  text-align: center;
}

#stats_grid {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}

#controls {
  border: 2px grey;
  width: 600px;
  margin: auto;
  text-align: center;
}

#theme {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px;
}

#game_grid {
  border: 2px tomato solid;
  margin: auto;
  margin-bottom: 30px;
  display: grid;
}

.grid-easy {
  grid-template-columns: repeat(3, 1fr);
}

.grid-medium {
  grid-template-columns: repeat(4, 1fr);
}

.grid-hard {
  grid-template-columns: repeat(6, 1fr);
}

.card {
  position: relative;
  transition: transform 1s;
  perspective: 1000px;
  transform-style: preserve-3d;
  border: none;
}

img {
  width: 100%;
  border: none;
}

.front_face,
.back_face {
  position: absolute;
  backface-visibility: hidden;
}

.flip {
  transform: rotateY(180deg);
}

.front_face {
  transform: rotateY(180deg);
}